<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>너의목소리를보여줘 - 회원가입</title>

    <!-- Custom fonts for this template-->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                    <div class="col-lg-7">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">회원가입 하기!</h1>
                            </div>
                            <form class="user" id="signupForm" action="register" method="post">
                                <div class="form-group row">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control form-control-user" id="memberId"
                                        name="memberId" placeholder="아이디" onclick="memberIdOnclick">
                                    <input class="btn btn-primary btn-user" style="margin-top: 12px;" type="button" value="아이디 중복 확인" onclick="memberIdDuplicateCheck()">
                                    <span id="msg"></span>
                                    <input type="hidden" id="memberIdDuplication" value="memberIdUncheck">
                                    <!-- 아이디 중복 구현 https://all-record.tistory.com/147 -->
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input type="password" class="form-control form-control-user"
                                            id="memberPassword" name="memberPassword" placeholder="비밀번호">
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="password" class="form-control form-control-user"
                                            id="memberPasswordCheck" placeholder="비밀번호 확인">
                                    </div>
                                </div>
                                <br><br><br>
                                <button class="btn btn-primary btn-user btn-block" type="button" onclick="join()">
                                    회원가입
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="/login">이미 계정이 있으시나요? 로그인하세요!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>

    <script type="text/javascript">
        // 아이디 입력란에 키보드로 값을 입력 시
        function memberIdOnclick() {
            document.getElementById('memberIdDuplication').value = "memberIdUncheck";
        }

        // 아이디 중복 버튼을 눌렀을 때
        function memberIdDuplicateCheck() {
            var memberId = document.getElementById("memberId").value;

            // 특수문자, 한글을 체크하는 정규식
            var checkSpc = /[~!@#$%^&*()_+|<>?:{}]/;
            var checkKor = /[ㄱ-ㅎ|ㅏ-ㅣ|가-힣]/;

            if (!memberId) {
                alert('아이디를 입력해주세요.');
                return;
            } else if (checkSpc.test(memberId) == true || checkKor.test(memberId) == true) {
                alert('한글 및 특수문자는 아이디로 사용하실 수 없습니다.');
                return;
            } else {
                // vanilla Javascript로 구현 한 ajax
                // https://developer.mozilla.org/ko/docs/Web/Guide/AJAX/Getting_Started

                var param = 'memberId=' + memberId;
                var httpRequest = new XMLHttpRequest();
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE) {
                        if (httpRequest.status === 200) {
                            var resultText = httpRequest.responseText;
                            if (resultText == 1) {
                                document.getElementById('msg').innerHTML = '사용할 수 없는 아이디입니다.';
                            } else {
                                document.getElementById('msg').innerHTML = '사용 가능한 아아디입니다.';
                                document.getElementById('memberIdDuplication').value = "memberIdcheck";
                            }
                        } else {
                            console.log('request에 뭔가 문제가 있어요.');
                        }
                    }
                };
                httpRequest.open('POST', 'memberIdCheckAction', true);
                httpRequest.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
                httpRequest.send(param);
            }
        }

        // 아이디, 비밀번호, 아이디 중복체크를 했는지 확인하고 submit
        function join() {
            var memberId = document.getElementById('memberId').value;
            var memberPassword = document.getElementById('memberPassword').value;
            var memberPasswordCheck = document.getElementById('memberPasswordCheck').value;
            var memberIdDuplication = document.getElementById('memberIdDuplication').value;

            if (memberId.length < 1) {
                alert('아이디을 입력해주세요.');
                return;
            }
            if (memberIdDuplication == "memberIdUncheck") {
                alert('아이디 중복 확인을 해주세요.');
                return;
            }
            if (memberPassword.length < 1) {
                alert('비밀번호를 입력해주세요.');
                return;
            }
            if (memberPasswordCheck.length < 1) {
                alert('비밀번호 확인을 입력해주세요.');
                return;
            }
            if (memberPassword != memberPasswordCheck) {
                alert('비밀번호가 일치하지 않습니다.');
                return;
            }
            var obj = document.getElementById('signupForm');
            alert('회원가입을 성공했습니다!');
            obj.submit();
        }
    </script>

</body>

</html>